*{box-sizing: border-box;}

body{
    overflow: hidden;
}
.mycar{
    width: 60px;
    height: 62px;
    background: url(../images/car.png) no-repeat;
    transform: rotate(180deg);
    position: absolute;
}
.gas{
    position: absolute;
    bottom: -70px;
    left: 18px;
    display: none;
}
.park{
    width: 80px;
    height: 90px;
    border: 5px solid saddlebrown;
    border-top: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
}